.team-parent {
    padding: 5rem;
    padding-top: 0;
}

.hierarchy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.team-group {
    width: 100%;
  
}


.team-group-img {
    width: 100%;
    height: 95vh;
   
}

@media (max-width: 798px) {
    .section, .section-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        margin-bottom: 0rem;
    }

    .hierarchy{
        gap: 6rem;
    }

    .team-group-img {
        width: 100%;
        height: 100%;
    }
}