.clg-name-p {
    position: absolute;
    top:30%;
    left: 17%;
    font-size: 80px;
    color: #ffffff;
    font-weight: 600;
    width: 1000px;
    text-align: center;
    font-family: 'Geogria', serif;
    /* text-shadow: 2px 4px 5px rgba(150, 150, 150, 0.64); */
    text-shadow: 4px 6px 14px rgba(139, 39, 9, 0.877);
}


@media (max-width: 798px) {
    .clg-name-p{
        top:30%;
        left: 10%;
        font-size: 40px;
        width: 300px;
        
    }
}